.events-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 3rem;
}

.events-list .event {
  width: 350px;
  border-radius: 10;
}

.events-list .image {
  height: 350px;
}
